footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #cecece;
  color: #999;

  a {
    color: #282828;
    &:hover {
      color: #222;
    }
  }
}


footer ul {
  float: right;
  list-style: none;

  li {
    float: left;
    margin-left: 20px;
  }
}
